* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

#navbar {
    background-color: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
#brand {
    font-size: 2rem;
    margin-left: 150px;
}
#menü {
    display: flex;
    align-items: center;
    margin-right: 150px;
}
#menü a{
    margin: 20px;
    color: rgb(3, 3, 3);
}
span {
   font-size: 22px;
}
#svg {
    display: flex;
} 

.container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.face {
    width: 288px;
    height: 400px;
    overflow: hidden;
    transition: .4s;
}

.face1 {
    position: relative;
    background: rgb(245, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    /* transform: translate(100px); */
}

.face2 {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.card:hover .face.face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgb(111, 100, 111),
    inset -20px 0 80px rgb(74, 77, 77),
    inset 20px 0 300px rgb(83, 80, 83),
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px rgb(79, 76, 79),
    10px 0 80px rgb(86, 89, 89);
}

.outer {
    opacity: .3;
    text-align: center;
    transition: 0.5s;
}

.card:hover .outer {
    opacity: 1;
}

.card:hover .face.face2{
    transform: translateY(0);
}

img {
    width: 400px;
    height: 300px;
}

p, a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

a:hover {
    background: #333;
    color: #fff;
}

.title {
    position: absolute;
    top: 135px;
    color: #fff;
}